<ion-header>
  <ion-toolbar>
    <ion-title>formulario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <form [formGroup] = "clienteForm" (submit)="(editable) ? editCliente() : addCliente()">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Nome <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="nome" required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Sobrenome <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="sobrenome" required type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Telefone <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="telefone" required type="tel"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Endereço</ion-label>
          <ion-input formControlName="logradouro" placeholder="Endereço Completo"></ion-input>
          <ion-input formControlName="complemento" placeholder="Complemento"></ion-input>
          <ion-input formControlName="bairro" placeholder="Bairro"></ion-input>
          <ion-input formControlName="cidade" placeholder="Cidade"></ion-input>
          <ion-input formControlName="estado" placeholder="Estado"></ion-input>
          <ion-input formControlName="cep" placeholder="CEP"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Observações</ion-label>
          <ion-textarea formControlName="observacoes"></ion-textarea>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button [disabled]="clienteForm.invalid" expand="block" type="submit" color="dark" class="ion-no-margin">Registrar</ion-button>
      </div>
    </form>
  </ion-content>
